---
permalink: /about-us
layout: default
hero-tagline: About Us
title: About Us
---
{% include hero.html %}

<section class="container px-5 py-4">
    <div class="row">
        <div class="col-12">
            <h3><i class="bi-building"></i></h3>
            <h3>About Us</h3>
            <p>We cannot seem to find the page you requested! Please double check the link you typed is valid and has no typos. </p>
            <button type="button" href="/" class="btn btn-yellow"><i class="bi-arrow-left-short"></i> Return Home</button>
        </div>
    </div>
</section>

{% include member-cards.html %}

{% include contact-section.html %}