<nav class="navbar sticky-top navbar-expand-lg bg-primary navbar-dark py-3 px-5">
  <a class="navbar-brand" href="/">
      <img class="m-0 p-0"
          src="/assets/vectors/insp_logo_white.svg"
          alt="Team Inspiration Logo"
          height="52"
          /></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav ms-auto">
        {% for item in site.data.navbar %}
        <a class="nav-item nav-link {% if item.name == page.title %}text-warning{% endif %}" href="{{item.link}}"><h5 class="mb-0 mr-md-3">{{ item.name }}</h5></a>
        {% endfor %}
    </div>
  </div>
</nav>
