<section class="container p-3">
    <ul class="timeline">
        <li class="event" data-date="2020">
            <div class="media">
                <ul class="list-unstyled">
                  <li class="media">
                    <div class="row">
                        <div class="col-4 ml-4 d-none d-lg-block">
                            <div class="row mb-2">
                                <img src="https://wallpaperaccess.com/full/2029165.jpg" width="100%" height="100%" />
                            </div>
                            
                            <div class="row mb-2">
                              <img src="https://image.shutterstock.com/image-photo/ultrawide-angle-photo-miami-beach-260nw-1526780219.jpg" width="100%" height="100%" />
                            </div>
                        </div>
                        
                        <div class="col-12 col-lg-7">
                            <div class="media-body">
                                <ul>
                                    <li>Continue mentoring Benin and Paraguay's FIRST Global teams.</li>
                                    <li>Co-hosted an official FTC competition. Hosted and co-hosted 3 other robotics scrimmages.</li>
                                    <li>Partner with University of San Diego STEAM Academy to teach STEAM, encouraging students by exposing them to all subjects.</li>
                                    <li>Partner with the Fleet Science Center to create videos for Fleet2Go and FLEETtv.</li>
                                    <li>Collaborate with Porpoise Robotics in developing low cost underwater Remotely Operated Vehicle for STEM education.</li>
                                    <li>Join forces with Krista Mitra High School in Indonesia in creating video tutorials to teach students about engineering concepts that will be applicable to the industries of the future.</li>
                                    <li>Tutor online Math and Physics.</li>
                                    <li>Create video tutorials for our YouTube channel.</li>
                                    <li>Team up with Barboza Space Center and Porpoise Robotics to teach STEAM in California and the Republic of Cabo Verde, Africa.</li>
                                </ul>
                          </div>
                        </div>
                    </div>
                  </li>
                </ul>
            </div>
        </li>
    </ul>
</section>